*{
    margin: 0;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    text-decoration: underline;
}

#gobackhome{
    height: 10px;
    width: 40px;
    color: blueviolet;
}

html {
    scroll-behavior: smooth;
  }